@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

nav ul, #technologies-container, #contact-me {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-align: center;
}

#bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  display: flex;
  text-align: left;
  font-size: 20px;
  width: 70%;
}

#coding-img{
  width: 8%;
  margin: 1em auto;
}

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  padding-left: 0;
}

#projects-container {
  display: flex;
  margin: 1em;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#projects-header {
  text-align: center;
  margin: 1em 0;
}
