@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
  font-family: 'Sora', sans-serif;
  margin: 0 auto;
}

nav ul, #technologies-container, #contact-me {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #FBC263;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-align: center;
}

#bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  display: flex;
  text-align: left;
  font-size: 20px;
  width: 75%;
}

#lindsey-img{
  width: 10em;
  margin: 1em auto;
}

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

ul {
  padding-left: 0;
}

#projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

#projects-header {
  text-align: center;
  margin-top: 1em;
}

#contact-me {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-icons {
  width: 3em;
  margin: 0 2em;
}
